section {
  margin: auto;
  width: 90%;
  max-width: 50rem;
  text-align: center;
  background-color: white;
  padding: 2.1rem;
  padding-bottom: 1rem;
  border-radius: 6px;
}

input {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

input:focus {
  outline: none;
  border-color: #457B9D;
}

button {
  font: inherit;
  cursor: pointer;
  background: #457B9D;
  border: 1px solid #457B9D;
  color: white;
  padding: 0.75rem 2rem;
  margin-top: 1rem;
  /* 1rem = 16px */
  border-radius: 6px;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background-color: #1D3557;
  border-color: #1D3557;
}

h2 {
  margin-left: 5px;
}
